POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

REDIS_HOST=
REDIS_PORT=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=
RABBITMQ_USER=
RABBITMQ_PASS=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_API_PORT=
MINIO_CONSOLE_PORT=