# Common
COMPOSE_PROJECT_NAME=video-streaming-platform

# PostgreSQL Configuration
POSTGRES_USER=app
POSTGRES_PASSWORD=app_password
POSTGRES_DB=app_db
POSTGRES_PORT=5433

# Redis Configuration
REDIS_PORT=6379

# RabbitMQ Configuration
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# MinIO Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadminpassword
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001